.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        width: 30%;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        height: 30%;

        @media (min-width: 768px) {
            width: calc(50% - 20px);
        }

        @media (min-width: 1200px) {
            width: calc(33.33% - 20px);
        }
    
    &__image {
        margin-bottom: 1rem;
        width: 50%;

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__title {
        margin-bottom: 10px;
    }

    &__price {
        margin-bottom: 20px;
    }
    &__description {
        margin-bottom: 20px;
    }
   }

    .product__button {
        margin-bottom: 20px;
    }

}