.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        width: 24rem;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        padding: 0.5rem;
        height: 30%;

    &__image {
        margin-bottom: 1rem;
        width: 300px;
        height: 300px;
    }
    &__title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    &__price {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &__description {
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
   }

    .product__button {
        margin-bottom: 20px;
    }

}